<!-- MAIN NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- Container -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
        <img src="" height="15" alt="" loading="lazy" />
      </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/"><i class="bi bi-house-door"></i> Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false"><i class="bi bi-journal"></i> Journal
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/new-entry"><i class="bi bi-pencil"></i> Add new entry</a></li>
            <li><a class="dropdown-item" href="/list-entries"><i class="bi bi-journal-text"></i> List of entries</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/faq"><i class="bi bi-card-checklist"></i> FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact"><i class="bi bi-envelope"></i> Contact</a>
        </li>
      </ul>

      <ul class="navbar-nav me-right">
        <li class="nav-item">
          <a href="/login" class="nav-link">
            <i class="bi bi-person-check"></i> Login</i>
          </a>
        </li>
        <li class="nav-item">
          <a href="/signup" class="nav-link"><i class="bi bi-person-plus"></i> Sign-up</i></a>
        </li>
      </ul>
    </div>
    <!-- Container -->
  </div>
  <!-- Navbar collapse -->
</nav>
<!-- MAIN NAVBAR -->