<!DOCTYPE html>
<html>

<head>
  <% include partials/header %>
</head>

<body>
  <% include partials/menu %>
  <% if (name === null) { %>
    <div class="alert alert-primary text-center" style="padding: 0;" role="alert">
      To have full access to the functions of the diary. Please, <a href="/signup">register</a> and <a href="/login">login</a> with your username/password.
   </div>
   <% } %>
    <div class="container-fluid bg-3 text-center">
      <br>
      <h3>
        <%= page %>
      </h3>
    </div>
</body>
<% include partials/scripts %>

</html>