<!DOCTYPE html>
<html>

<head>
  <% include partials/header %>
</head>

<body>
  <% include partials/menu %>
    <% if (name===null) { %>
      <div class="alert alert-warning text-center"
        style="padding: 0; margin-bottom: 0px; border-bottom: 1px solid black;" role="alert">
        To have full access to the functions of the diary. Please, <a class="link-dark" href="/signup">sign-up</a> and
        <a class="link-dark" href="/login">login</a> with your username/password.
      </div>
      <% } %>
        <div class="container-fluid" style="padding: 0;">
          <!-- <h2>Welcome to Ganache Diary</h2> -->
          <div class="smWelcome d-block d-sm-none">
            <h2 class="h2Index">Welcome to Ganache Diary
            </h2>
            <% if (name===null) { %>
            <a class="btn btn-outline-dark btn-sm" role="button" href="/signup">Sign-up</a>
            <a class="btn btn-outline-dark btn-sm" role="button" href="/login">Login</a>
            <% } else { %>
              <a class="btn btn-outline-dark btn-sm" role="button" href="/new-entry">Add new entry</a>
              <a class="btn btn-outline-dark btn-sm" role="button" href="/list-entries">Diary entries</a>
            <% } %>
          </div>
          <img class="img-fluid d-none d-sm-block bg-img" src="images/wallpaper.jpg" alt="Background">
        </div>
        <% include partials/footer %>
</body>
<% include partials/scripts %>

  <script>
    window.ethereum.on('accountsChanged', function (accounts) {
      window.location = "/logout";
    })

    window.ethereum.on('chainChanged', function (chainId) {
      window.location = "/logout";
    })
  </script>

</html>