<!DOCTYPE html>
<html>

<head>
  <% include partials/header %>
</head>

<body>
  <% include partials/menu %>
    <% if (name===null) { %>
      <div class="alert alert-primary text-center" style="padding: 0;" role="alert">
        To have full access to the functions of the diary. Please, <a href="/signup">register</a> and <a
          href="/login">login</a> with your username/password.
      </div>
      <% } %>
        <div class="container-fluid bg-3">
          <br>
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Fluid jumbotron</h1>
              <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            </div>
          </div>
        </div>
        <% include partials/footer %>
</body>
<% include partials/scripts %>

</html>