<!DOCTYPE html>
<html>

<head>
  <% include partials/header %>
</head>

<body>
  <% include partials/menu %>
    <div class="container-fluid bg-3 text-center">
      <br>
      <h3>
        <%= page %>
      </h3>
    </div>
</body>
<% include partials/scripts %>

</html>