<!DOCTYPE html>
<html>

<head>
  <% include partials/header %>
</head>

<body>
  <% include partials/menu %>
    <div class="container-fluid bg-3">
      <br>
      <h3 class="text-center">
        <%= page %>
      </h3>
      <br>
      <div class="row">
        <form class="g-3 needs-validation" action="/new-entry" method="post">
          <div class="col-md-4 offset-md-2">
            <div class="form-group col-md-10">
              <label for="inputTitle">Define your day with a short title:</label>
              <input type="text" class="form-control" name="inputTitle" id="inputTitle" placeholder="Title">
            </div>
            <br>
            <div class="form-group col-md-10">
              <label for="inputContent">Describe here how your day was:</label>
              <textarea type="textbox" class="form-control" name="inputContent" id="inputContent" placeholder="Content..."
                rows="4"></textarea>
            </div>
            <br>
            <div class="form-group col-md-10">
              <label for="radioScore">Rate it:</label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radioScore" id="scoreRadio1"
                  value="1">
                <label class="form-check-label" for="scoreRadio1">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radioScore" id="scoreRadio2"
                  value="2">
                <label class="form-check-label" for="scoreRadio2">2</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radioScore" id="scoreRadio3"
                  value="3">
                <label class="form-check-label" for="scoreRadio3">3</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radioScore" id="scoreRadio4"
                  value="4">
                <label class="form-check-label" for="scoreRadio4">4</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radioScore" id="scoreRadio5"
                  value="5">
                <label class="form-check-label" for="scoreRadio5">5</label>
              </div>
              <br>
              <br>
              <div class="text-center">
                <button type="submit" class="btn btn-primary">Send</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
</body>
<% include partials/scripts %>

</html>