body {
  background-color: #d5b278;
  font-family: "Open Sans", sans-serif;
}

.smWelcome {
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.h2Index {
  margin-bottom: 20px;
  color: black;
  text-shadow: 1px 1px 3px whitesmoke;
}

.hTitle {
  color: #ffeec9;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 1px 1px 3px black;
}

.btnAddEntry {
  text-align: center;
}

#listEntries {
  margin: 0px 10px 0px 10px;
}

#footer {
  margin-top: 10px;
}

.breadcrumb {
  margin-top: 5px;
}

.breadcrumb a {
  color: #000000;
}

.breadcrumb > .active {
  font-weight: bold;
  color: #264653;
}

#lblTitle,
#lblContent,
#lblScore {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.card {
  height: auto;
  margin-bottom: 15px;
  border-radius: 0.75rem;
}

.card-body {
  border-radius: 0.75rem;
  background-color: #ffeec9;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.card-title {
  font-weight: bold;
  text-shadow: 2px 2px 3px whitesmoke;
}

.card-subtitle {
  font-size: 14px;
}

#instructions h4 {
  font-weight: bold;
  color: black;
  text-shadow: 1px 1px 3px whitesmoke;
}

#instructions p {
  background-color: #ffeec9;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 0.6rem;
  margin-top: 5px;
  font-size: 18px;
  color: black;
}

.rotate-in-center {
  -webkit-animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}

.puff-in-center {
  -webkit-animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
    both;
  animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
